<mat-card>
  <h2>New client</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="12" rowHeight="100px">
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            mask="(00) 0000-0000||(00) 00000-0000"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" mask="000.000.000-00" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="btn-row">
      <button mat-raised-button type="button" routerLink="">Go back</button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="clientForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
