:host {
  padding: 1.5rem;
  display: flex;

  mat-card {
    width: 100%;
    flex: 1;
    padding: 2rem;
    border-top: 5px #1e293b solid;
    border-radius: 6px;

    form {
      display: flex;
      flex-direction: column;

      mat-form-field {
        width: 100%;
        padding: 4px;
      }

      .btn-row {
        display: flex;
        gap: 8px;
        align-items: center;

        .submit-btn {
          margin-left: auto;
        }
      }
    }
  }
}
