.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1e293b;
  color: #ffffff;

  button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-self: center;
    color: #fff;

    &:hover {
      cursor: pointer;
      color: #a7a7a7;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.main-container {
  padding: 16px;
}
